@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    margin-top: -1.35em;
    width: 100vw;
    text-align: center;
    color: white;
    background-color: black;
    padding-top: 2em;
    padding-bottom: 0.5em;
    font-size: 0.6em;
    font-family: 'Major Mono Display', monospace;
}

nav {
    display: none;
}

a, a:active, a:hover, a:visited {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

#menu_icon {
    float: left;
    margin-top: -2.5em;
    margin-left: 0.7em;
}

.menu-dropdown {
    display: none;
    position: absolute;
    background-color: rgb(0, 0, 0);
    padding: 1em 1em 1em 1em;
    line-height: 26pt;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    font-family: 'VT323', monospace;
}

.menu:hover .menu-dropdown {
    display: block;
}

#welcome {
    text-align: center;
    background-image: linear-gradient(rgb(0, 0, 0), rgba(255, 255, 255, 0), rgb(0, 0, 0)),url(/img/BG1.jpg);
    background-position: cover;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    padding-top: 4em;
    padding-bottom: 4em;
    padding-left: 1em;
    padding-right: 1em;
    font-family: 'Major Mono Display', monospace;
}

#evolution {
    background-image: linear-gradient(rgb(0, 0, 0), rgba(255, 255, 255, 0), rgb(0, 0, 0)),url(/img/BG2.jpg);
    background-position: cover;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 4em;
    padding-bottom: 4em;
}

#inspiration {
    background-image: linear-gradient(rgb(0, 0, 0), rgba(255, 255, 255, 0), rgb(0, 0, 0)), url(/img/BG4.jpg);
    background-position: cover;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 4em;
    padding-bottom: 4em;
}

#agile {
    background-image: linear-gradient(rgb(0, 0, 0), rgba(255, 255, 255, 0), rgb(0, 0, 0)),url(/img/BG3.jpg);
    background-position: cover;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 4em;
    padding-bottom: 4em;
}

#contact {
    background-image: linear-gradient(rgb(0, 0, 0), rgba(255, 255, 255, 0), rgb(0, 0, 0)),url(/img/BG5.jpg);
    padding-top: 7em;
    padding-bottom: 7em;
    background-size: cover;
    padding-left: 3em;
    padding-right: 3em;
}

form {
    text-align: center;
    font-family: 'VT323', monospace;
    font-size: 1em;
    color: white;
    background-color: rgba(0, 0, 0, 0.651);
    border-radius: 1em;
    width: 90%;
    margin: auto;
    padding: 1em 0em 1em 0em;
}

.container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 1em;
    position: relative;
    text-align: center;
    margin-left: 1em;
    margin-right: 1em;
    width: 90%;
    padding-right: 1em;
}

.container h3 {
    font-size: 1em;
    margin-bottom: -1em;
}

#text {
font-size: 1em;
color: rgb(255, 255, 255);
font-family: 'VT323', monospace;
background-color: rgba(0, 0, 0, 0.651);
border-radius: 1em;
padding: 1em;
}

#text h3 {
    font-family: 'Major Mono Display', monospace;
}

button {
    flex: 1;
    background-color: black;
    color: white;
    border: none;
    padding: 0.5em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.7em;
    transition: all 0.5s ease-out;
    border-style: solid;
    font-family: 'Major Mono Display', monospace;
}

footer {
    text-align: center;
    color: white;
    background-color: black;
    font-family: 'VT323', monospace;
    margin-top: auto;
}

.container img {
    border-style:solid;
    border-color: rgb(0, 0, 0);
}

.picture {
    max-width: 100%;
    height: auto;
}



/* Page 2 - Evolution */

#page2 {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url(/img/BGevolution1SMALL.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-family: 'VT323', monospace;
    font-size: 1em;
    margin: 2em 2em 2em 2em;
    background-color: rgba(0, 0, 0, 0.651);
    border-radius: 1em;
    padding: 1em;
}

article img {
    max-width: 50%;
    height: auto;
    margin-left: 6em;
    margin-top: 3em;
    margin-bottom: -4em;
    border-style: solid;
    border-width: 0.3em;
}

#page2 ul {
    float: left;
    list-style: none;
    margin-left: -10em;
}

/* Page 3 - Larry Page & Sergey Brin */

#page3 {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url(/img/BGinspirationSMALL.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#mobilevideo {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.651);
    border-radius: 1em;
    color: white;
    font-family: 'VT323', monospace;
    font-size: 1em;
}

#desktopvideo {
    display: none;
}

#page3 ul {
    float: left;
    list-style: none;
    margin-left: -17em;
}

/* Page 4 - Agile Developement */

#page4 {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url(/img/BGagileSMALL.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#page4 ul {
    margin-left: -15em;
    text-align: left;
    list-style: none;
}

@media (min-width: 480px) { /* Desktop media queries */
    #menu_icon {
        display: none;
    }

    nav {
        display: flex;
        flex-direction: row;
        font-size: 2em;
        width: 100%;
        font-family: 'VT323', monospace;
        justify-content: space-around;
        z-index: 1;
        position: sticky;
        top: 0;
    }

    nav a {
        flex: 1;
        background-color: black;
        color: white;
        font-size: 0.8em;
        border: 1px solid;
        padding: 0.5rem;
        text-align: center;
        text-decoration: none;
        transition: all 0.5s ease-out;
    }

    nav a:hover, nav a:focus {
        background-color: rgb(255, 255, 255);
        color: black;
    }

    header {
        font-size: 1.5em;
        width: 100%;
    }

    #welcome {
        background-image: linear-gradient(rgb(0, 0, 0), rgba(255, 255, 255, 0), rgb(0, 0, 0)),url(/img/BG1large.jpg);
        padding-top: 7em;
        padding-bottom: 1em;
        padding-left: 9em;
        padding-right: 9em;
        margin-top: -2em;
        font-size: 2em;
        height: 600px;
    }

    .container {
        gap: 3em;
    }

    #evolution {
        background-image: linear-gradient(rgb(0, 0, 0), rgba(255, 255, 255, 0), rgb(0, 0, 0)),url(/img/BG2large.jpg);
        padding-top: 7em;
        padding-bottom: 7em;
        background-size: auto no-repeat;
        padding-left: 3em;
        padding-right: 3em;
        font-size: 2em;
    }

    #inspiration {
        background-image: linear-gradient(rgb(0, 0, 0), rgba(255, 255, 255, 0), rgb(0, 0, 0)),url(/img/BG4large.jpg);
        padding-top: 7em;
        padding-bottom: 7em;
        background-size: auto no-repeat;
        padding-left: 3em;
        padding-right: 3em;
        font-size: 2em;
    }

    #agile {
        background-image: linear-gradient(rgb(0, 0, 0), rgba(255, 255, 255, 0), rgb(0, 0, 0)),url(/img/BG3large.jpg);
        padding-top: 7em;
        padding-bottom: 7em;
        background-size: auto no-repeat;
        padding-left: 3em;
        padding-right: 3em;
        font-size: 2em;
    }

    #contact {
        background-image: linear-gradient(rgb(0, 0, 0), rgba(255, 255, 255, 0), rgb(0, 0, 0)),url(/img/BG5.jpg);
        padding-top: 7em;
        padding-bottom: 7em;
        background-size: cover;
        padding-left: 3em;
        padding-right: 3em;
    }

    button:hover {
        background-color: rgb(255, 255, 255);
        color: black;
    }

    form {
        font-size: 2em;
        width: 50%;
    }

    footer {
        font-size: 1.5em;
    }
    
    #page2 {
        background-image: url(/img/BGevolution1.jpg);
    }
    
    #page3 {
        background-image: url(/img/BGinspiration.jpg)!important;
    }
    
    #page4 {
        background-image: url(/img/BGagile.jpg)!important;
    }

    .flex_container {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5em;
    }
    
    .text {
        margin-right: 0.5em;
        margin-left: 20em;
        font-size: 1.5em;
        background-color: rgba(0, 0, 0, 0.651);
        border-radius: 1em;
        padding: 1em;
        width: 70%;
    }
    
    article h1 {
        font-size: 1.5em;
        margin: 0;
    }
    
    article img {
        max-width: 120%;
        height: auto;
        margin: auto;
        margin-left: 6em;
        border-width: 0.5em;
    }
    
    #page2 ul {
        margin-left: -29em;
    }

    #page3 ul {
        margin-left: -42em;
    }
    
    #page4 ul {
        margin-left: -39em;
    }

    #googlefounders {
        max-width: 30%;
        height: auto;
    }
    
    #mobilevideo {
        display: none;
    }
    
    #desktopvideo {
        display: block!important;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.651);
        border-radius: 1em;
        color: white;
        font-family: 'VT323', monospace;
        font-size: 1.5em;
        width: 30%;
        height: auto;
        margin: auto;
        margin-bottom: 2em;
        margin-top: -3em; 
    }

}